<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="PrimeData\PrimeDataConnect\Model\MessageQueue\QueueBufferInterface"
                type="PrimeData\PrimeDataConnect\Model\MessageQueue\QueueBuffer"/>

    <virtualType name="SubscriptionLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SubscriptionLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">SubscriptionLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SubscriptionLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/PrimeData/subscription.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="QueueBufferLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/PrimeData/QueueBuffer.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="QueueBufferLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">QueueBufferLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">QueueBufferLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="PrimeData\PrimeDataConnect\Model\MessageQueue">
        <arguments>
            <argument name="logger" xsi:type="object">QueueBufferLogger</argument>
        </arguments>
    </type>

    <virtualType name="SyncProductLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/PrimeData/SyncProduct.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="SyncProductLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SyncProductLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">SyncProductLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="PrimeData\PrimeDataConnect\Observer\Products\ProductSaveAfterObserver">
        <arguments>
            <argument name="logger" xsi:type="object">SyncProductLogger</argument>
        </arguments>
    </type>

    <type name="PrimeData\PrimeDataConnect\Observer\Products\ProductDeleteBeforeObserver">
        <arguments>
            <argument name="logger" xsi:type="object">SyncProductLogger</argument>
        </arguments>
    </type>

    <virtualType name="SyncCustomerLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/PrimeData/SyncCustomer.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="SyncCustomerLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SyncCustomerLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">SyncCustomerLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="PrimeData\PrimeDataConnect\Observer\Customer\CustomerRegisterObserver">
        <arguments>
            <argument name="logger" xsi:type="object">SyncCustomerLogger</argument>
        </arguments>
    </type>

    <type name="PrimeData\PrimeDataConnect\Observer\Customer\CustomerUpdateObserver">
        <arguments>
            <argument name="logger" xsi:type="object">SyncCustomerLogger</argument>
        </arguments>
    </type>

    <virtualType name="SyncCheckoutLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/PrimeData/SyncCheckout.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="SyncCheckoutLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SyncCheckoutLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">SyncCheckoutLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="PrimeData\PrimeDataConnect\Observer\Checkout\AddProductObserver">
        <arguments>
            <argument name="logger" xsi:type="object">SyncCheckoutLogger</argument>
        </arguments>
    </type>

    <type name="PrimeData\PrimeDataConnect\Helper\RedisConfig">
        <arguments>
            <argument name="data" xsi:type="array">
              <item name="message_queue" xsi:type="string">redis</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
            <plugin name="prime_data_plugin_sale_order_repository"
                type="PrimeData\PrimeDataConnect\Plugin\Sales\OrderRepositoryPlugin" sortOrder="20" disabled="false" />
    </type>


    <virtualType name="SyncOrderLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/PrimeData/SyncOrder.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="SyncOrderLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SyncOrderLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">SyncOrderLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="PrimeData\PrimeDataConnect\Plugin\Sales\OrderRepositoryPlugin">
        <arguments>
            <argument name="logger" xsi:type="object">SyncOrderLogger</argument>
        </arguments>
    </type>

</config>
